<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Menus -->
   <extension
         point="org.eclipse.ui.menus">
      <!-- Context (right-click) menu on Package Explorer --> 
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="blackduck-PackageExplorer"
               label="Black Duck">
         </menu>
      </menuContribution>
      <!-- Items on Package Explorer context menu -->
      <menuContribution
            allPopups="false"
            locationURI="popup:blackduck-PackageExplorer?after=additions">
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.InspectSelectedProject"
               icon="resources/icons/ducky.png"
               label="Inspect Selected Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.m2e.core.maven2Nature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.buildship.core.gradleprojectnature">
                              </test>
                           </or>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <!-- Menu item that opens vulnerability view -->
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.OpenComponentInspector"
               label="Open Component Inspector"
               style="push"
      		   icon="resources/icons/ducky.png">
      		  <!-- only visible when right clicking on Java project -->
         </command>
         <!-- Menu item that opens Black Duck preference page -->
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.hub.OpenBlackDuckHubSettings"
               label="Hub Settings..."
               style="push"
      		   icon="resources/icons/ducky.png">
         </command>
         <!-- Menu item that opens project-specific preference dialog -->
      </menuContribution>
      <!-- Context (right-click) menu on Project Explorer -->
      <menuContribution
      		allPopups="false"
      		locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               id="blackduck-ProjectExplorer"
               label="Black Duck">
         </menu>
      </menuContribution>
      <!-- Items on Project Explorer context menu -->
      <menuContribution
            allPopups="false"
            locationURI="popup:blackduck-ProjectExplorer?after=additions">
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.InspectSelectedProject"
               icon="resources/icons/ducky.png"
               label="Inspect Selected Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.m2e.core.maven2Nature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.buildship.core.gradleprojectnature">
                              </test>
                           </or>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <!-- Menu item that opens vulnerability view -->
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.OpenComponentInspector"
               label="Open Component Inspector"
               style="push"
      		   icon="resources/icons/ducky.png">
      		  <!-- only visible when right clicking on Java project -->
         </command>
         <!-- Menu item that opens Black Duck preference page -->
         <command
               commandId="com.blackducksoftware.integration.eclipse.contextmenu.hub.OpenBlackDuckHubSettings"
               label="Hub Settings..."
               style="push"
      		   icon="resources/icons/ducky.png">
         </command>
         <!-- Menu item that opens project-specific preference dialog -->
      </menuContribution>
   </extension>
   <!-- Commands linked to Package/Project Explorer context menu items via commandId tag (id > commandId) -->
   <!-- defaultHandler.execute() is the method that is called when these commands execute -->
   <!-- Views -->
   <!-- Preference Pages -->
   <extension
         point="org.eclipse.ui.commands">
      <!-- Corresponds to "Open Black Duck Vulnerability View" menu item -->
      <command
            defaultHandler="com.blackducksoftware.integration.eclipse.contextmenu.handlers.OpenComponentInspectorView"
            id="com.blackducksoftware.integration.eclipse.contextmenu.OpenComponentInspector"
            name="Open Black Duck Component Insepctor">
      </command>
      <!-- Corresponds to "Black Duck Settings..." menu item -->
      <command
            defaultHandler="com.blackducksoftware.integration.eclipse.contextmenu.handlers.hub.OpenBlackDuckHubSettings"
            id="com.blackducksoftware.integration.eclipse.contextmenu.hub.OpenBlackDuckHubSettings"
            name="Open Black Duck Hub Settings">
      </command>
      <command
            defaultHandler="com.blackducksoftware.integration.eclipse.contextmenu.handlers.InspectSelectedProject"
            id="com.blackducksoftware.integration.eclipse.contextmenu.InspectSelectedProject"
            name="Inspect Selected Project">
      </command>
      <!-- Corresponds to "Project Preferences..." menu item -->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <!-- Items in the same category show up in the same folder in the "Show View" dialog -->
      <category
      		name="Black Duck Hub"
      		id="com.blackducksoftware.integration.eclipse.views"
      >
      </category>
      <!-- Black Duck Vulnerability View -->
      <view
            class="com.blackducksoftware.integration.eclipse.views.ComponentInspectorView"
            id="com.blackducksoftware.integration.eclipse.views.ComponentInspectorView"
            name="Component Inspector"
            icon="resources/icons/ducky.png"
            category="com.blackducksoftware.integration.eclipse.views"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <!-- Parent Black Duck preference page -->
      <page
            class="com.blackducksoftware.integration.eclipse.preferencepages.HubPreferences"
            id="com.blackducksoftware.integration.eclipse.preferencepages"
            name="Black Duck Hub">
      </page>
      <page
            category="com.blackducksoftware.integration.eclipse.preferencepages"
            class="com.blackducksoftware.integration.eclipse.preferencepages.ComponentInspectorPreferences"
            id="com.blackducksoftware.integration.eclipse.preferencepages.ComponentInspectorSettings"
            name="Component Inspector Settings">
      </page>
      <!-- Preference page indicating which projects Black Duck scan is activated for -->
      <!-- Preference page with Black Duck default settings -->
      <!-- Preference page with Hub authorization settings -->
      
   </extension>
</plugin>
